@import '_mixin.sass'
@import '_variables'
@import url('https://fonts.cdnfonts.com/css/tt-travels-trl')

.text-In-development
    display: flex
    justify-content: center
    margin-top: 20px 
    @include style-text($type: "TT Travels Trl", $size: 40px, $color: $gray-red, $font-weight: 700)